<section class="medium-5 large-4 column">
  <%= render 'user_search_form' %>
  <br/><br/>
  <h2>User Matching Your Search</h2>
  <br/>
  <table>
    <thead>
      <tr>
        <th>User's Email</th>
        <th>Admin Status</th>
  	    <th>Account Status</th>
  	    <th></th>
		<th></th>
		<th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
  		  <td><%= user.checked(user.admin) %></td>
  		  <td><%= user.check(user.disabled) %></td>
		  <td><%= link_to 'Disable Account', user, method: :disableAccount, data: { confirm: 'Are you sure, you want to disable this account?' }  %></td>
		  <td><%= link_to 'Activate Account', user, method: :activateAccount, data: { confirm: 'Are you sure, you want to activate this account?' }  %></td>
          <td><%= link_to 'Remove Account', user, method: :delete, data: { confirm: 'Are you sure, you want to delete this account?' }  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>