<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>
      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :departlocation %>
    <%= f.text_field :departlocation %>

    <%= f.label :arrivelocation %>
    <%= f.text_field :arrivelocation %>

  <div class="field datetimepicker">
   <%= f.label :departtime %><br>
   <%= f.text_field :departtime, :id=>"datetimepicker" %>
  </div>

  <div class="field datetimepicker2">
    <%= f.label :arrivetime %><br>
    <%= f.text_field :arrivetime, :id=>"datetimepicker2" %>
  </div>

    <%= f.label :seatsavailable %>
    <%= f.number_field :seatsavailable %>

    <%= f.label :costperseat %>
    <%= f.text_field :costperseat %>

    <%= f.label :smoking %>
    <%= f.check_box :smoking %>

    <%= f.label :children %>
    <%= f.check_box :children %>

    <%= f.label :preferences %>
    <%= f.text_area :preferences %>
  <div class="actions">
    <%= f.submit %>
  </div>

<script>
  $(function() {
    $("#datetimepicker").datetimepicker({
      format: "Y-m-d H:i "
    });
    $("#datetimepicker2").datetimepicker({
      format: "Y-m-d H:i "
    });
  });
</script>

<% end %>