<h1>Search for a Ride</h1>
<br/>

<div>
  <p>search form goes here</p>
</div><br/><br/>

<h2> Rides matching your destination and dates </h2>
<br/>
<div>
  <table>
    <thead>
      <tr>
        <th>Departure Location</th>
        <th>Arrival Location</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Seats Available</th>
        <th>Cost per Seat</th>
        <th>Preferences</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @rides.each do |ride| %>
        <tr>
          <td><%= ride.departlocation %></td>
          <td><%= ride.arrivelocation %></td>
          <td><%= ride.departtime.to_time.strftime('%a, %b %d, %Y %l:%M%p') %></td>
          <td><%= ride.arrivetime.to_time.strftime('%a, %b %d, %Y %l:%M%p') %></td>
          <td><%= ride.seatsavailable %></td>
          <td><%= ride.costperseat %></td>
          <td><%= ride.preferences %></td>
          <td><%= link_to 'Show', ride %></td>
          <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
          <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
