<!DOCTYPE html>
<html>
<head>
  <title>Rideshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav> 
	<%=link_to "Home", root_url %> &nbsp;&nbsp;&nbsp;
	<%=link_to "Post New Ride", new_url %> 
  </nav>
  <br/><br/>

<%= yield %>

</body>
</html>
